@font-face {
  font-family: "Dopestyle";
  src: url("../fonts/dopestyle.woff2") format("woff2"), url("../fonts/dopestyle.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Kurale";
  src: url("../fonts/kurale.woff2") format("woff2"), url("../fonts/kurale.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
fieldset,
ul,
dd,
dl {
  margin: 0; }

ul,
legend,
fieldset {
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Kurale", "Arial", sans-serif; }

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

*:focus:not(:focus-visible) {
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: inherit; }

img,
svg,
video {
  display: block;
  width: 100%;
  height: auto; }

ul {
  list-style: none; }

textarea {
  resize: none; }

input,
textarea {
  display: block;
  font-family: inherit;
  border-radius: 0;
  font-size: 16px;
  margin: 0;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    opacity: 1; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    opacity: 1; }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    opacity: 1; }
  input::placeholder,
  textarea::placeholder {
    opacity: 1; }
  input:invalid,
  textarea:invalid {
    -webkit-box-shadow: none;
            box-shadow: none; }

select {
  border-radius: 0; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none; }

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; }

select,
textarea,
input:matches([type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.container {
  padding: 0 50px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 20px; } }

.content-img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  content-visibility: auto; }

main {
  -webkit-transition: -webkit-filter .6s;
  transition: -webkit-filter .6s;
  transition: filter .6s;
  transition: filter .6s, -webkit-filter .6s; }

.search-menu-active main {
  -webkit-filter: blur(5px);
          filter: blur(5px); }

.logo {
  position: absolute;
  top: 40px;
  left: 53px;
  z-index: 100; }
  @media (max-width: 1024px) {
    .logo {
      top: 30px;
      left: 43px; }
      .logo img {
        width: 120px;
        height: 50px; } }
  @media (max-width: 768px) {
    .logo {
      top: 15px;
      left: 25px; } }

.btn-buy {
  font-size: 25px;
  color: #FFF;
  border-radius: 20px; }
  .btn-buy--red {
    background: #E21D1D; }
  .btn-buy--green {
    background: #51971A; }
  @media (max-width: 768px) {
    .btn-buy {
      font-size: 15px;
      border-radius: 10px; } }

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

.main-lime {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: Max(Min(903px, 47%), 766px); }
  @media (max-width: 768px) {
    .main-lime {
      width: 100%; } }

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%; }
  @media (max-width: 768px) {
    .main-text {
      top: initial;
      margin-top: 60%; } }

.fruit-slider-wrap {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("../img/bg/bg-two-whater.jpg");
  overflow: hidden; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .fruit-slider-wrap {
      background-image: url("../img/bg/bg-two-whater@2x.jpg"); } }

.fruits-slider {
  position: relative; }

.fruits-slider__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fruits-slider__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (max-width: 1280px) {
    .fruits-slider__item {
      padding: 100px 50px 0; } }
  @media (max-width: 1024px) {
    .fruits-slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 100px 30px 0; } }
  @media (max-width: 768px) {
    .fruits-slider__item {
      padding: 100px 0 0; } }

.fruits-slider__img-wrap {
  width: 35.52%;
  overflow: hidden;
  max-height: 800px; }
  @media (max-width: 1024px) {
    .fruits-slider__img-wrap {
      max-height: 470px; } }
  @media (max-width: 768px) {
    .fruits-slider__img-wrap {
      width: 35%; } }

.fruits-slider__img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.fruits-slider__description {
  margin-top: 17%;
  min-width: 350px;
  text-align: center;
  font-family: "Dopestyle", "Arial", sans-serif;
  color: #FE7A00; }
  @media (max-width: 1024px) {
    .fruits-slider__description {
      margin: 50px 0; } }
  @media (max-width: 768px) {
    .fruits-slider__description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 30px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: initial; } }

.fruits-slider__name {
  margin-right: 50px;
  font-size: Max(Min(60px, 3.3vw), 25px);
  line-height: 1; }
  @media (max-width: 768px) {
    .fruits-slider__name {
      margin: 0 0 20px 0; } }

.fruits-slider__price {
  font-size: Max(Min(50px, 2.8vw), 25px);
  line-height: 1;
  text-transform: lowercase; }
  .fruits-slider__price::before {
    content: attr(data-price);
    margin-right: 20px; }

.fruits-slider__btn {
  width: 58px;
  height: 40px;
  position: absolute;
  top: 50%; }
  @media (max-width: 768px) {
    .fruits-slider__btn {
      width: 48px;
      height: 30px;
      top: 35%; } }

.btn-back {
  left: 50px; }
  @media (max-width: 768px) {
    .btn-back {
      left: 20px; } }

.btn-next {
  left: 41.66%;
  -webkit-transform: scale(-1);
          transform: scale(-1); }
  @media (max-width: 1024px) {
    .btn-next {
      left: initial;
      right: 50px; } }
  @media (max-width: 768px) {
    .btn-next {
      right: 20px; } }

.fruits-slider__actions {
  position: absolute;
  margin-top: calc(17% + 200px);
  top: 0;
  right: 100px;
  width: Max(Min(24.74vw, 475px), 350px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1280px) {
    .fruits-slider__actions {
      right: 50px; } }
  @media (max-width: 1024px) {
    .fruits-slider__actions {
      position: static;
      margin: 0 auto; } }
  @media (max-width: 768px) {
    .fruits-slider__actions {
      width: 100%;
      max-width: 350px; } }

.fruits-slider__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dopestyle", "Arial", sans-serif; }
  .fruits-slider__count button {
    width: 30px;
    height: 30px;
    background-color: #FE7A00;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 25px;
    border-radius: 3px; }

.fruits-slider__value {
  padding: 0 20px;
  text-align: center;
  color: #FE7A00;
  font-size: 50px;
  line-height: 1; }
  @media (max-width: 768px) {
    .fruits-slider__value {
      font-size: 30px; } }

.fruits-slider__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .fruits-slider__buy {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .fruits-slider__buy button {
    width: 40%;
    min-width: 150px;
    padding: 7px 15px 10px; }
    @media (max-width: 768px) {
      .fruits-slider__buy button {
        width: auto;
        min-width: 120px; } }

@media (max-width: 768px) {
  .fruits-slider__order {
    margin-right: 30px; } }

.cart {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-image: url("../img/bg/water-single.jpg"); }
  @media (max-width: 1024px) {
    .cart {
      background-size: contain;
      background-position: center;
      background-image: url("../img/bg/water-small.jpg"); } }
  @media (max-width: 768px) {
    .cart {
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .cart {
      background-image: url("../img/bg/water-single@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1024px), (min-resolution: 144dpi) and (max-width: 1024px), (min-resolution: 1.5dppx) and (max-width: 1024px) {
    .cart {
      background-image: url("../img/bg/water-small@2x.jpg"); } }

.cart__container {
  max-width: 1770px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin: 0 auto; }
  @media (max-width: 1680px) {
    .cart__container {
      padding: 100px 50px 0; } }
  @media (max-width: 1024px) {
    .cart__container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 768px) {
    .cart__container {
      padding: 30px 10px 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.cart__img-wrap {
  width: 51%;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (max-width: 1560px) {
    .cart__img-wrap {
      width: 45%; } }
  @media (max-width: 1024px) {
    .cart__img-wrap {
      display: none; } }

.cart__content-wrap {
  position: relative;
  width: 100%;
  max-width: 660px; }
  @media (max-width: 768px) {
    .cart__content-wrap {
      max-width: 520px; } }
  .cart__content-wrap::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    width: 105px;
    height: 100px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    background: url("../img/bg/leaf2.png") center/contain no-repeat;
    z-index: 1; }
    @media (max-width: 1280px) {
      .cart__content-wrap::before {
        top: 30px; } }
    @media (max-width: 768px) {
      .cart__content-wrap::before {
        top: 40px;
        left: -40px; } }
  .cart__content-wrap::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 145px;
    height: 135px;
    background: url("../img/bg/leaf2.png") center/contain no-repeat; }

.cart__content {
  position: relative;
  min-height: 600px;
  width: 100%;
  padding: 120px 68px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 71px;
  background-image: url("../img/bg/list.png"); }
  .cart__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    width: calc(100% - 30px);
    height: 138px;
    background-size: 100% auto;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-image: url("../img/bg/list-top.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .cart__content::before {
        background-image: url("../img/bg/list-top@2x.png"); } }
    @media (max-width: 768px) {
      .cart__content::before {
        background-size: 390px auto; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .cart__content {
      background-image: url("../img/bg/list-top@2x.png"), url("../img/bg/list.png"); } }
  @media (max-width: 1280px) {
    .cart__content {
      padding: 120px 50px 80px;
      background-position: 0 83px; } }
  @media (max-width: 768px) {
    .cart__content {
      min-height: initial;
      padding: 120px 30px 60px;
      background-position: 0 96px; } }

.webp .cart__content {
  background-image: url("../img/bg/list.webp"); }
  .webp .cart__content::before {
    background-image: url("../img/bg/list-top.webp"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .webp .cart__content::before {
        background-image: url("../img/bg/list-top@2x.webp"); } }

.cart__btn-buy {
  margin-top: auto;
  padding: 6px 34px 8px; }

.order {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 46px;
  font-size: 25px;
  color: #7A7A7A;
  border-spacing: 15px 0;
  overflow: hidden; }
  @media (max-width: 1280px) {
    .order {
      font-size: 20px; } }
  @media (max-width: 768px) {
    .order {
      margin-bottom: 30px;
      font-size: 16px; } }
  @media (max-width: 375px) {
    .order {
      font-size: 14px; } }

.order__title {
  margin-bottom: 40px;
  font-size: 40px;
  color: #262F56; }
  @media (max-width: 1280px) {
    .order__title {
      font-size: 35px; } }
  @media (max-width: 768px) {
    .order__title {
      font-size: 30px; } }

.order__item {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.75, 0, 1, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.75, 0, 1, 1);
  transition: transform 0.5s cubic-bezier(0.75, 0, 1, 1);
  transition: transform 0.5s cubic-bezier(0.75, 0, 1, 1), -webkit-transform 0.5s cubic-bezier(0.75, 0, 1, 1); }
  .order__item--collapse {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }

.order__item-name {
  min-width: 300px;
  padding-right: 10px;
  font-size: 30px;
  color: #FE7A00; }
  @media (max-width: 1280px) {
    .order__item-name {
      font-size: 25px;
      min-width: 200px; } }
  @media (max-width: 768px) {
    .order__item-name {
      font-size: 18px;
      min-width: initial; } }
  @media (max-width: 375px) {
    .order__item-name {
      font-size: 16px; } }

.order__item-price::before {
  content: attr(data-price);
  margin-right: 3px; }

.order__item-remove {
  position: relative;
  min-width: 20px;
  padding: 5px 0 0 0; }
  @media (max-width: 768px) {
    .order__item-remove {
      min-width: 14px;
      height: 14px; } }
  .order__item-remove::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.order__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  padding-right: 20px;
  font-size: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3A3A3A; }
  @media (max-width: 1280px) {
    .order__amount {
      font-size: 25px; } }
  @media (max-width: 768px) {
    .order__amount {
      font-size: 20px; } }
  @media (max-width: 375px) {
    .order__amount {
      font-size: 16px; } }

.order__total::after {
  content: attr(data-total);
  margin: 0 8px; }

.contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-image: url("../img/bg/water-single.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contact {
      background-image: url("../img/bg/water-single@2x.jpg"); } }
  @media (max-width: 1024px) {
    .contact {
      background: none; } }

.contact__container {
  max-width: 1770px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  margin: 0 auto; }
  @media (max-width: 1680px) {
    .contact__container {
      padding: 0 50px; } }
  @media (max-width: 1024px) {
    .contact__container {
      padding-top: 130px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 768px) {
    .contact__container {
      padding: 90px 30px 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.contact__img-wrap {
  width: 44.9%;
  max-height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden; }
  .contact__img-wrap img {
    position: relative;
    top: -256px;
    height: auto; }
  @media (max-width: 1024px) {
    .contact__img-wrap {
      display: none; } }

.contact__content-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40.45%;
  padding-top: 100px;
  padding-bottom: 80px; }
  @media (max-width: 1680px) {
    .contact__content-wrap {
      padding-top: 80px; } }
  @media (max-width: 1024px) {
    .contact__content-wrap {
      padding-top: 0;
      width: 70%; } }
  @media (max-width: 575px) {
    .contact__content-wrap {
      width: 100%; } }
  .contact__content-wrap::before {
    position: absolute;
    top: -30px;
    left: -20px;
    width: 105px;
    height: 100px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    background: url("../img/bg/leaf2.png") center/contain no-repeat; }
    @media (max-width: 1024px) {
      .contact__content-wrap::before {
        content: ""; } }
    @media (max-width: 768px) {
      .contact__content-wrap::before {
        top: 20px;
        left: -40px; } }
  .contact__content-wrap::after {
    position: absolute;
    bottom: -30px;
    right: -150px;
    width: 145px;
    height: 135px;
    background: url("../img/bg/leaf2.png") center/contain no-repeat; }
    @media (max-width: 1024px) {
      .contact__content-wrap::after {
        content: ""; } }
    @media (max-width: 768px) {
      .contact__content-wrap::after {
        bottom: -60px;
        right: -60px; } }

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }

.contact__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: Max(Min(45px, 2.5vw), 14px);
  color: #444; }

.contact__title {
  margin-bottom: 43px;
  font-size: Max(Min(60px, 3.8vw), 25px);
  line-height: 1.4;
  text-align: center;
  font-family: "Dopestyle", "Arial", sans-serif;
  color: #06730A; }

.contact__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px; }

.contact__phones svg {
  width: 54px;
  height: 41px; }
  @media (max-width: 768px) {
    .contact__phones svg {
      width: 24px;
      height: 21px; } }

.contact__email svg {
  width: 38px;
  height: 32px; }
  @media (max-width: 768px) {
    .contact__email svg {
      width: 18px;
      height: 12px; } }

.contact__address svg {
  width: 38px;
  height: 44px; }
  @media (max-width: 768px) {
    .contact__address svg {
      width: 18px;
      height: 22px; } }

.contact__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 635px;
  padding-top: 46px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 3px solid rgba(196, 196, 196, 0.5); }
  @media (max-width: 1680px) {
    .contact__thumbs {
      padding-top: 30px; } }

.contact__thumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contact__thumbs-item button {
    padding: 0 0 20px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom-color 0.3s;
    transition: border-bottom-color 0.3s; }
    @media (max-width: 1680px) {
      .contact__thumbs-item button {
        padding: 0 0 10px 0; } }
    @media (max-width: 768px) {
      .contact__thumbs-item button {
        padding: 0 0 5px 0; } }

.thumb-info {
  color: #EA1E1E;
  fill: #EA1E1E; }
  .thumb-info button {
    width: 60px; }
  @media (max-width: 1680px) {
    .thumb-info {
      width: 40px; } }
  @media (max-width: 768px) {
    .thumb-info {
      width: 30px; } }

.thumb-credit-card {
  color: #FE7A00; }
  .thumb-credit-card button {
    width: 70px; }
    @media (max-width: 1680px) {
      .thumb-credit-card button {
        width: 50px; } }
    @media (max-width: 768px) {
      .thumb-credit-card button {
        width: 40px; } }

.thumb-ship {
  color: #51971A; }
  .thumb-ship button {
    width: 59px; }
    @media (max-width: 1680px) {
      .thumb-ship button {
        width: 39px; } }
    @media (max-width: 768px) {
      .thumb-ship button {
        width: 29px; } }

.thumb-house {
  color: #A66FE5; }
  .thumb-house button {
    width: 62px; }
    @media (max-width: 1680px) {
      .thumb-house button {
        width: 42px; } }
    @media (max-width: 768px) {
      .thumb-house button {
        width: 32px; } }

.contact__btn-map {
  margin-top: 37px;
  margin-bottom: 78px;
  padding: 3px 36px 5px; }
  @media (max-width: 1680px) {
    .contact__btn-map {
      margin: 10px 0 30px 0; } }

.swiper-slide-thumb-active button {
  border-bottom: 2px solid currentColor; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden; }

.nav-wrap {
  position: absolute;
  max-width: 1516px;
  width: 100%;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.3, 1), -webkit-transform 0.6s cubic-bezier(0.25, 0.1, 0.3, 1);
  z-index: 10; }
  @media (max-width: 768px) {
    .nav-wrap {
      height: 229px; } }

.nav {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px) {
    .nav {
      padding: 0 20px;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; } }
  .nav::before, .nav::after {
    top: 0;
    content: "";
    position: absolute;
    width: calc(50% - 50px);
    height: 100%;
    -webkit-box-shadow: 0 0 50px rgba(128, 128, 128, 0.2);
            box-shadow: 0 0 50px rgba(128, 128, 128, 0.2);
    background-color: #FFF; }
    @media (max-width: 768px) {
      .nav::before, .nav::after {
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); } }
  .nav::before {
    top: 0;
    left: 0;
    border-radius: 50px 0 0 0; }
    @media (max-width: 768px) {
      .nav::before {
        border-radius: 6px 0 0 0; } }
  .nav::after {
    top: 0;
    right: 0;
    border-radius: 0 50px 0 0; }
    @media (max-width: 768px) {
      .nav::after {
        border-radius: 0 6px 0 0; } }

.nav__mask {
  position: absolute;
  top: 0;
  left: calc(50% - 51px);
  width: 102px;
  z-index: 1; }
  .nav__mask img {
    -webkit-filter: drop-shadow(0 0 50px rgba(128, 128, 128, 0.2));
            filter: drop-shadow(0 0 50px rgba(128, 128, 128, 0.2)); }
    @media (max-width: 768px) {
      .nav__mask img {
        -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25)); } }
  .nav__mask::before, .nav__mask::after {
    content: "";
    position: absolute;
    top: 0;
    width: 51px;
    height: 100%;
    background-color: #FFF;
    z-index: 2; }
  .nav__mask::before {
    right: 100%; }
  .nav__mask::after {
    left: 100%; }

.nav__toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 0;
  top: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #FE7A00;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 4; }
  .nav__toggle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
    border-top: 18px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 980px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3; }
  @media (max-width: 768px) {
    .nav__list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top: 43px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      background-color: white; } }

@media (max-width: 768px) {
  .nav__item {
    width: 50%; } }

@media (max-width: 768px) {
  .nav__item--back {
    display: none; } }

@media (max-width: 768px) {
  .nav__item--search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-top: 10; }
    .nav__item--search svg {
      width: 30px; } }

@media (max-width: 768px) {
  .nav__item--fruits, .nav__item--vegetables {
    margin-bottom: 39px; }
    .nav__item--fruits svg, .nav__item--vegetables svg {
      width: 43px; } }

.nav__item--info svg {
  fill: #75A4FF; }

@media (max-width: 768px) {
  .nav__item--info svg {
    width: 38px; } }

@media (max-width: 768px) {
  .nav__item--cart svg {
    width: 33px; } }

.nav__link {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 57px; }
  @media (max-width: 768px) {
    .nav__link {
      margin: auto; } }

.nav-menu-active .nav-wrap {
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0); }

.nav-menu-active .nav__toggle {
  background-color: #06730A; }
  .nav-menu-active .nav__toggle::before {
    -webkit-transform: translate3d(-50%, -40%, 0);
            transform: translate3d(-50%, -40%, 0); }

.nav-menu-active .search-wrap {
  background-color: rgba(255, 255, 255, 0.4); }

.webp .nav-menu-active .search-wrap {
  background-image: url("../img/bg/rain.webp"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .nav-menu-active .search-wrap {
      background-image: url("../img/bg/rain@2x.webp"); } }

.no-webp .nav-menu-active .search-wrap {
  background-image: url("../img/bg/rain.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .no-webp .nav-menu-active .search-wrap {
      background-image: url("../img/bg/rain@2x.png"); } }

.search {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1250px;
  padding: 0 50px; }
  @media (max-width: 1024px) {
    .search {
      padding: 0 30px; } }
  @media (max-width: 768px) {
    .search {
      padding: 0 13px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.search__field {
  position: relative;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 81px; }
  @media (max-width: 1024px) {
    .search__field {
      height: 55px; } }
  @media (max-width: 768px) {
    .search__field {
      height: 40px;
      width: 100%;
      margin: 0 0 32px 0; } }
  .search__field input {
    padding: 0 100px 0 64px;
    width: 100%;
    height: 100%;
    font-size: 35px;
    background: #FFF;
    border: none;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    outline: none; }
    @media (max-width: 1024px) {
      .search__field input {
        padding: 0 70px 0 30px;
        border-radius: 15px;
        font-size: 22px; } }
    @media (max-width: 768px) {
      .search__field input {
        padding: 0 40px 0 16px;
        font-size: 16px;
        border-radius: 10px; } }
    .search__field input::-webkit-input-placeholder {
      color: #AAA; }
    .search__field input::-moz-placeholder {
      color: #AAA; }
    .search__field input:-ms-input-placeholder {
      color: #AAA; }
    .search__field input::-ms-input-placeholder {
      color: #AAA; }
    .search__field input::placeholder {
      color: #AAA; }
  .search__field svg {
    position: absolute;
    top: 50%;
    right: 35px;
    width: 44px;
    height: 44px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (max-width: 1024px) {
      .search__field svg {
        width: 25px;
        height: 25px;
        right: 25px; } }
    @media (max-width: 768px) {
      .search__field svg {
        right: 16px;
        width: 14px;
        height: 14px; } }

.search__btn {
  padding: 10px 60px 15px;
  font-size: 42px;
  line-height: 1.33;
  border-radius: 20px;
  color: #FFF;
  background-color: #51971A;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }
  @media (max-width: 1024px) {
    .search__btn {
      font-size: 30px;
      line-height: 1;
      border-radius: 15px; } }
  @media (max-width: 768px) {
    .search__btn {
      border-radius: 10px;
      font-size: 20px; } }

.modal {
  contain: strict;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: scale3d(1.3, 1.3, 1);
          transform: scale3d(1.3, 1.3, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 6;
  scrollbar-width: none;
  -ms-overflow-style: none; }
  @supports (display: grid) {
    .modal {
      display: -ms-grid;
      display: grid;
      place-items: center;
      -webkit-box-pack: initial;
          -ms-flex-pack: initial;
              justify-content: initial; } }
  .modal::-webkit-scrollbar {
    display: none; }
  .modal--active {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    visibility: visible;
    opacity: 1; }

.modal__wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  z-index: 5; }
  .modal-overlay--show {
    opacity: 1;
    visibility: visible; }

.scroll-lock {
  width: 100%;
  position: fixed;
  overflow-y: scroll; }

html {
  scrollbar-width: none;
  -ms-overflow-style: none; }
  html::-webkit-scrollbar {
    display: none; }
